.parent1{
    background-color: blue;
    height: 100vh;
    border: 2px solid;
    display: grid;
    grid-template-columns: repeat(3 ,auto);
    grid-template-rows: repeat(4 ,auto);
}
.ch1{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: yellow;
}
.ch4{
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: red;

}


.ch5{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: pink;
}
.ch6{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: orange;
    
}